:root {
  --text-color: #161618;
  --background-color: #f2f2f2;
}

html[data-theme="light"] {
  --background-color: #f2f2f2;
  --text-color: #161618;
}

html[data-theme="dark"] {
  --background-color: #212124;
  --text-color: #eeeeee;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}
body {
  background: var(--background-color);
  color: var(--text-color);
}

.container {
  background: var(--background-color);
  display: flex;
  justify-content: center;
}

input,
select {
  font-size: 100%;
}

.editor {
  font-family: Lucida Console, Lucida Sans Typewriter, monaco,
    Bitstream Vera Sans Mono, monospace;
  width: 100vh;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

#toggleTheme {
  opacity: 0.5;
}

#toggleTheme:hover {
  opacity: 1;
  transform: scale(1.2);
}

#deleteContent {
  opacity: 0.5;
  position: absolute;
}

#deleteContent:hover {
  opacity: 1;
  transform: scale(1.2);
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

*,
a,
button {
  cursor: default;
  user-select: none;
}
/*
.container > div > div:not(:last-child) {
  border-bottom: dashed 1px rgba(153, 153, 153, 0.1)
} */
